/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

body {
    background-color: darkkhaki;
}

#mainNavigation > ul {
    list-style-type: none;

}

#mainNavigation > ul >li {
    text-decoration: none;
}

#mainNavigation > ul  > li > a {
}
